* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding-top: 250px;
}

header {
  height: 300px;
  padding-top: 50px;
  background: #f07057;
}

.main-nav, .main {
  position: relative;
}

.main-nav {
  background: #fff;
  height: 80px;
  z-index: 150;
  padding-top: 30px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, .4);
  font-family: "pt sans"; sans-serif;
  text-align: center;
}

header, .main-nav-scrolled {
  position: fixed;
  width: 100%;
  top: 0;
  font-family: "pt sans", sans-serif;
  color: white;
  text-align: center;
}

.main {
  background: #f2f2e8;
  padding: 110px 0px 0px;
  column-count: 2;
  column-gap: 40px;
  text-align: center;
}


#content {
  background: rgb(93, 124, 156);
  padding: 110px 30px 30px;
  text-align: center;
  font-family: "pt sans";
  color: white;
  font-size: 20pt;
}

.explore {
  font-family: 'Josefin Slab', serif;
  font-weight: '400';
  font-size: 50px;
}